option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: catalogo.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: catalogo.settings
    DJANGO_DEBUG: "False"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
    /media: media

container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  02_create_media_dir:
    command: "mkdir -p media/produtos"